html, body {
    height: 100%;
}
body {
    font-family: 'Courier New', Courier, Monaco, monospace;
    font-size: 12px;
position: relative;
}

.main {
    background: url(fon.png);
    background-size: cover ;
    
             }

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    margin: 0 auto;
    
}
.wrapperMAIN {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    margin: 0 auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
   color: white;
   animation: opacity 2s;
    }
@keyframes opacity {
        from {opacity: 0;} 
      to {opacity: 1;}
 }
.logo {
    width: 150px;
    height: 50px;
    background: url(https://d17ol771963kd3.cloudfront.net/assets/logo-supreme-x2-255f947213970b7718d521c3270faefe.png) center no-repeat;
    background-size: contain; 
    margin: auto;
    margin-bottom: 30px;

}
.menu a {
    text-decoration: none;
color: white;
padding: 0px 5px;
}
.time {
    text-align: center;
}
.menu a:hover{
    background: red;
   }
.menu ul {
    padding-left: 250px;
    padding-top: 80px;
}
.menu li {
    line-height: 40px;
}

.header {
    margin-bottom: 90px;
}

.gallery {
    margin-bottom: 60px;
    line-height: 0px;
}

.gallery__element {
    display: inline-block;
    width: 100px;
    height: 70px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 3px;
}

.gallery__element img {
    max-width: 100%;
}

.footer {

}

.footer ul li {
    display: inline;
}

.footer ul {
    /* убрал стандартные отступы у меню */
    margin: 0;
    padding: 0;
}
.footer a {
    color: black;
    text-decoration: none;
}

.footer a:hover {
    color: white;
    background: red;
}

.footer__left {
    float: left;
}

.footer__right {
    text-align: right;
    float: right;
}
.footer__right a {
    color: inherit;
}
.footer__right li:last-of-type {
    color: red;
}